<nav>
  <div class="menu">
    <ul *ngIf="!isLoggedIn">
      <li><a routerLink="/register">S'inscrire</a></li>
      <li><a routerLink="/login">Se connecter</a></li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <!-- TODO: Add account controller in back-end 
        to get user information and to update if wanted -->
      <li><a>Compte</a></li>
      <li><a routerLink="/" (click)="logout()">Déconnexion</a></li>
    </ul>
  </div>
  <div class="title">
    <a href="">
      <img src="assets/img/brilatto-letters.png " alt="Brilatto" />
    </a>
  </div>
  <div class="cart">
    <a routerLink="/cart">Panier (<span id="counter">{{cartCounter}}</span>)</a>
  </div>
</nav>
