nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: 100px;
}
