<div *ngIf="isAdmin" class="form">
  <form 
    [formGroup]="categoryForm"
    (ngSubmit)="onSubmit()"
    >
    <div>
      
      <label class="label-title">
        Nouvelle catégorie
      </label>

      <div class="inputs">

        <div class="input-container">
          <input
            id="name"
            type="text"
            placeholder="Nom"
            formControlName="name"
          />
        </div>
    
        <div class="input-container">
          <input
            id="photo"
            type="text"
            placeholder="Photo"
            formControlName="photo"
          />
        </div>

        <div class="input-container">
          <input
            id="description"
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </div>

      </div>

      <label 
        *ngIf="missingFields"
        class="label-error" 
        >
        Merci de remplir tous les champs.
      </label>

    </div>
  
    <button type="submit">
      <ng-container> Ajouter</ng-container>
    </button>
  </form>
</div>

<ul class="categories">
  <ng-container *ngFor="let category of categories">
    <a [routerLink]="['/', category._id]">
      <app-category-details [category]="category" [categories]="categories" [isAdmin]="isAdmin"> </app-category-details>
    </a>
  </ng-container>
</ul>
