<div class="register-container">

  <video autoplay loop [muted]="true" plays-inline src="assets/videos/sea_foam.mp4" type="video/mp4"></video>

  <form 
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >

    <h1>Créer un compte</h1>

    <div class="name">
      <div class="name-inputs">
        <label 
          for="firstname"
          class="label-title" 
          >
          Prénom
        </label>
        <input
          id="firstname"
          type="text"
          placeholder="Prénom*"
          formControlName="firstname"
        />
        <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('firstname'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
      </div>
  
      <div class="name-inputs">
        <label 
          for="lastname"
          class="label-title" 
          >
          Nom
        </label>
        <input
          type="text"
          id="lastname"
          placeholder="Nom*"
          formControlName="lastname"
        />
        <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('lastname'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
      </div>
    </div>

    <div class="email">
      <label 
        for="email"
        class="label-title" 
        >
        E-mail
      </label>
      <input
        id="email"
        type="email"
        placeholder="E-mail*"
        formControlName="email"
      />
      <label 
        *ngIf="shouldDisplayRequiredError(registerForm.get('email'))"
        class="label-error" 
        >
        Merci de remplir ce champs.
      </label>
      <label 
        *ngIf="shouldDisplayEmailError(registerForm.get('email'))"
        class="label-error" 
        >
        Email non valide.
      </label>
    </div>

    <div class="passwords">
      <label 
        for="password"
        class="label-title"
      >
        Mot de passe
      </label>
      <div class="passwords-inputs-container">
        <div class="passwords-inputs">
          <input
            id="password"
            type="password"
            placeholder="Mot de passe*"
            formControlName="password"
          />
          <label 
            *ngIf="shouldDisplayRequiredError(registerForm.get('password'))"
            class="label-error" 
            >
            Merci de remplir ce champs.
          </label>
          <label 
            *ngIf="shouldDisplayPatternError(registerForm.get('password'))"
            class="label-error" 
            >
            Le mot de passe doit contenir: <br>
            - Entre 7 et 15 caractères <br>
            - Au moins un chiffre (0-9) <br>
            - Au moins un caractère spécial (!@#$%^&*)
          </label>
        </div>
    
        <div class="passwords-inputs">
          <input
            id="confirmPassword"
            type="password"
            placeholder="Confirmez votre mot de passe*"
            formControlName="confirmPassword"
          />
          <label 
            *ngIf="shouldDisplayRequiredError(registerForm.get('confirmPassword'))"
            class="label-error" 
            >
            Merci de remplir ce champs.
          </label>
        </div>
      </div>
      <label 
        *ngIf="shouldDisplayPasswordsNotMatchingError(registerForm.get('confirmPassword'))"
        class="label-error" 
        >
        Les mots de passe ne correspondent pas.
      </label>
    </div>

    <div class="birth-date">
      <label 
        for="dateOfBirth"
        class="label-title" 
        >
        Date de naissance
      </label>

      <div class="birth-date-inputs-container">

        <div class="birth-date-inputs">
          <div class="relative">
            <select 
              id="dayOfBirth" 
              formControlName="dayOfBirth"
            >
              <option selected>Jour</option>
              <option 
              *ngFor="let day of days"
              >{{day}}</option>
            </select>
            <div class="svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>

        <div class="birth-date-inputs">
          <div class="relative">
            <select 
              id="monthOfBirth"
              formControlName="monthOfBirth"
              (change)='onSelectMonth($event)'
            >
              <option selected>Mois</option>
              <option 
              *ngFor="let month of months"
              >{{month}}</option>
            </select>
            <div class="svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>

        <div class="birth-date-inputs">
          <div class="relative">
            <select 
              id="yearOfBirth"
              formControlName="yearOfBirth"
              (change)='onSelectYear($event)'
            >
              <option selected>Année</option>
              <option 
              *ngFor="let year of years"
              >{{year}}</option>
            </select>
            <div class="svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="address">
      <label 
        for="address"
        class="label-title" 
        >
        Adresse
      </label>
      <div class="address-inputs">
        <div class="address-first-row-inputs">
          <input
            id="addressLine1"
            type="text"
            placeholder="N° Rue*"
            formControlName="addressLine1"
          />
          <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('addressLine1'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
        </div>
    
        <div class="address-first-row-inputs">
          <input
            id="addressLine2"
            type="text"
            placeholder="Complément d'adresse"
            formControlName="addressLine2"
          />
        </div>
      </div>

      <div class="address-inputs">
        <div class="address-second-row-inputs">
          <input 
            id="postalCode" 
            type="text" 
            placeholder="Code postal*"
            formControlName="postalCode"
          >
          <label 
            *ngIf="shouldDisplayRequiredError(registerForm.get('postalCode'))"
            class="label-error" 
            >
            Merci de remplir ce champs.
          </label>
        </div>

        <div class="address-second-row-inputs">
          <input 
            id="city" 
            type="text" 
            placeholder="Ville*"
            formControlName="city"
            class="appearance-none block" 
          >
          <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('city'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
        </div>

        <div class="address-second-row-inputs">
          <div class="relative">
            <select 
              id="country"
              formControlName="country"
            >
              <option selected>Pays*</option>
              <option *ngFor="let country of countries">{{country}}</option>
            </select>
            <div class="svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <label 
      *ngIf="invalidEmail"
      class="label-error" 
      >
      Email invalide.
  </label>

    <label 
      *ngIf="missingFields"
      class="label-error" 
      >
      Merci de remplir tous les champs obligatoires.
    </label>

    <label 
      *ngIf="existingUser"
      class="label-error" 
      >
      Cet utilisateur existe déjà. Merci de vous connecter.
    </label>

    <label 
      *ngIf="passwordsNotMatching"
      class="label-error" 
      >
      Les mots de passe ne correspondent pas.
    </label>

    <label 
      *ngIf="authError"
      class="label-error" 
      >
      Aucun compte n'a pu être créé. 
    </label>

    <div class="button">
      <button type="submit">
        <ng-container *ngIf="isLoading"> Chargement... </ng-container>
        <ng-container *ngIf="!isLoading"> M'inscrire </ng-container>
      </button>
    </div>

    <a href="/login">J'ai déjà un compte.</a>

  </form>

</div>
