<div class="flex justify-center">
  <form
    (ngSubmit)="submit()"
    #myForm="ngForm"
    class="p-4 mt-20 rounded-lg border m-auto w-1/3"
  >
    <h1 class="text-center text-xl">Créez un compte</h1>
    <div class="my-5 w-full">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        class="p-2 rounded w-full border text-sm"
        placeholder="E-mail"
        [(ngModel)]="form.email"
        name="email"
        #email="ngModel"
        required
      />
    </div>

    <div class="my-5 w-full">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        class="p-2 rounded w-full border text-sm"
        placeholder="Mot de passe"
        [(ngModel)]="form.password"
        name="password"
        #password="ngModel"
        required
      />
    </div>

    <div class="my-5 w-full">
      <label for="confirm_password">Confirmez votre mot de passe</label>
      <input
        type="password"
        id="passwordToConfirm"
        class="p-2 rounded w-full border text-sm"
        placeholder="Confirmez votre mot de passe"
        [(ngModel)]="form.passwordToConfirm"
        name="passwordToConfirm"
        #passwordToConfirm="ngModel"
        required
      />
    </div>
    <div
      *ngIf="
        (email.invalid && (email.dirty || email.touched)) ||
        (password.invalid && (password.dirty || password.touched)) ||
        (passwordToConfirm.invalid &&
          (passwordToConfirm.dirty || passwordToConfirm.touched))
      "
      class="p-2 bg-red-300 text-red-800 rounded"
    >
      Veuillez remplir tous les champs.
    </div>
    <div *ngIf="!passwordsMatched" class="p-2 bg-red-300 text-red-800 rounded">
      Les mots de passe ne correspondent pas.
    </div>

    <div class="my-5 w-full">
      <button
        type="submit"
        [disabled]="myForm.form.invalid"
        class="p-2 w-full bg-blue-700 text-white hover:bg-blue-900 rounded"
      >
        <ng-container *ngIf="isLoading"> Chargement... </ng-container>
        <ng-container *ngIf="!isLoading"> M'inscrire </ng-container>
      </button>
    </div>
  </form>
</div>
