.jewel {
  text-align: center;
  margin: 1rem;
}

.add-to-cart-button {
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.photo-container {
  position: relative;
  max-width: 20rem;
}

.photo {
  display: block;
  width: 100%;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.photo-overlay:hover {
  opacity: 1;
}

.title {
  font-size: 2rem;
}