<li class="jewel">
    <div class="label">
      <p>{{ jewel.color | titlecase }}</p>
    </div>
    <div class="image">
        <img [src]="jewel.photo" />
    </div>
    <div class="price">
        <p>{{ jewel.price | currency:'EUR' }}</p>
    </div>
    <!-- <div class="quantity">
        <button (click)="add(jewel)">
            +
        </button>
        <span>{{jewel.quantity}}</span>
        <button (click)="subtract(jewel)">
            -
        </button>
        <p 
            *ngIf="maxQuantityReached"
            class="text-red-700 text-xs font-medium mb-2" 
            >
            Vous avez atteint la limite.
        </p>
    </div> -->
    <button (click)="addToCart(jewel)">
        Ajouter au panier
    </button>
</li>
