<div *ngIf="isAdmin" class="form">
  <form 
    [formGroup]="modelForm"
    (ngSubmit)="onSubmit()"
     >
    <div>

      <label>
        Nouveau modèle
      </label>

      <div class="inputs">

        <div class="input-container">
          <input
            id="name"
            type="text"
            placeholder="Nom"
            formControlName="name"
          />
        </div>
    
        <div class="input-container">
          <input
            id="photo"
            type="text"
            placeholder="Photo"
            formControlName="photo"
          />
        </div>

        <div class="input-container">
          <input
            id="description"
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </div>
      </div>
    </div>
  
    <button type="submit" >
      <ng-container> Ajouter</ng-container>
    </button>
  </form>
</div>

<ul class="models">
  <ng-container *ngFor="let model of models">
    <a [title]="model.name" [routerLink]="['/model', model._id]">
      <app-model-details [model]="model" [models]="models" [isAdmin]="isAdmin"></app-model-details>
    </a>
  </ng-container>
</ul>
