<tr class="added-jewel">
  <td>
    <div class="cart-column jewel-reference">
      <img
        [src]="jewel.photo1"
        alt="image"
      />
    </div>
  </td>
  <td class="cart-column jewel-reference">
      <h3>{{jewel.name}}</h3>
  </td>
  <td class="cart-column">{{ jewel.price | currency:'EUR'}}</td>
  <td class="cart-column">
      <button (click)="updateQuantity(false)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline-flex w-6 h-6 text-blue-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>

      <span>{{quantity}}</span>

      <button (click)="updateQuantity(true)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline-flex w-6 h-6 text-blue-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>

      <p 
      *ngIf="maxQuantityReached"
      class="text-red-700 text-xs font-medium mb-2" 
      >
      Vous avez atteint la limite.
  </p>
  </td>
  <td class="cart-column">{{ (jewel.price * quantity) | currency:'EUR'}}</td>
  <td class="cart-column">
    <button (click)="removeJewelFromCart(jewel)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-red-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
        />
      </svg>
    </button>
  </td>
</tr>