.addedJewel {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

button {
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}