<td>
    <img [src]="jewel.photo" />
</td>
<td>
    {{jewel.color}}
</td>
<td>
    <div class="quantity">
        <button (click)="updateQuantity(false)">
            -
        </button>
        <span>{{quantity}}</span>
        <button (click)="updateQuantity(true)">
            +
        </button>
        <p 
            *ngIf="maxQuantityReached"
            class="text-red-700 text-xs font-medium mb-2" 
            >
            Vous avez atteint la limite.
        </p>
    </div>
</td>
<td>
    {{ (jewel.price * quantity) | currency:'EUR'}}
</td>
<td>
    <button>
        Retirer
    </button>
</td>