<div *ngIf="isAdmin" class="form">
  <form 
    [formGroup]="jewelForm"
    (ngSubmit)="onSubmit()"
    >
      <label class="label-title">
        Nouveau bijou
      </label>

      <div class="inputs">

        <div class="input-container">
          <input
            id="name"
            type="text"
            placeholder="Nom"
            formControlName="name"
          />
        </div>
    
        <div class="input-container">
          <input
            id="photo1"
            type="text"
            placeholder="Photo n°1"
            formControlName="photo1"
          />
        </div>

        <div class="input-container">
          <input
            id="photo2"
            type="text"
            placeholder="Photo n°2"
            formControlName="photo2"
          />
        </div>

        <div class="input-container">
          <input
            id="quantityInStock"
            type="number"
            placeholder="Quantité en stock"
            formControlName="quantityInStock"
          />
        </div>
    
        <div class="input-container">
          <input
            id="price"
            type="number"
            placeholder="Prix à l'unité"
            formControlName="price"
          />
        </div>

        <div class="input-container">
          <input
            id="description"
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </div>

      </div>

      <label 
        *ngIf="missingFields"
        class="label-error" 
        >
        Merci de remplir tous les champs.
      </label>
  
    <button type="submit">
      <ng-container> Ajouter un bijou </ng-container>
    </button>

  </form>
</div>

<ul class="jewels">
    <ng-container *ngFor="let jewel of jewels">
      <a>
        <app-jewel-details [jewel]="jewel" [jewels]="jewels" [isAdmin]="isAdmin"></app-jewel-details>
      </a>
    </ng-container>
</ul>